body {
  margin: 0;
}

a.headerLink {
  text-decoration: none;
  color: #FFF;
}


.productImage {
  height: 191px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  margin-top: 3rem;
}

.container {
  padding: 5rem 1rem 3rem 1rem;
}

.product-container {
  padding: 3rem 1rem 3rem 1rem;
}

.cart-button {
  float: right;
}

.checkout-container .row {
  padding: 2rem 0 0 0;
}

.cart-price {
  float: right;
}

.remove-item {
  display: inline-block;
  padding-left: 1rem;
  cursor: pointer;
}