body {
  margin: 0;
}

a.headerLink {
  text-decoration: none;
  color: #000;
}

.productImage {
  height: 191px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  margin-top: 3rem;
}

.container {
  padding: 3rem 0 3rem 0;
}